<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ul class="unlist-group list-group-flush">
          <li class="list-group-item"><h4>About</h4></li>
          <li class="list-group-item"><a href="javascript:void(0)">Our products</a></li>
          <li class="list-group-item"><a href="javascript:void(0)">Sitemap</a></li>
          <li class="list-group-item"><a href="javascript:void(0)">Careers</a></li>
          <li class="list-group-item"><a href="javascript:void(0)">Contact</a></li>
        </ul>
      
        <ul class="unlist-group list-group-flush">
          <li class="list-group-item"><h4>Help</h4></li>
          <li class="list-group-item"><a href="javascript:void(0)">Payments</a></li>
          <li class="list-group-item"><a href="javascript:void(0)">Shipping</a></li>
          <li class="list-group-item"><a href="javascript:void(0)">Cancellation & Return</a></li>
          <li class="list-group-item"><a href="javascript:void(0)">FAQ</a></li>
        </ul>

        <ul class="unlist-group list-group-flush">
          <li class="list-group-item"><h4>Social</h4></li>
          <li class="list-group-item"><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
          <li class="list-group-item"><a href="https://www.facebook.com/" target="_blank">Twitter</a></li>
          <li class="list-group-item"><a href="https://www.facebook.com/" target="_blank">YouTube</a></li>
          <li class="list-group-item"><a href="https://www.facebook.com/" target="_blank">Instagram</a></li>
        </ul>

        <ul class="unlist-group">
          <li class="list-group-item"><h4>Registered Office Address:
          </h4></li>
          <li class="list-group-item">Shopping Mart Private Limited,

            Suit -1234, ABC Street

            London,
            
            United Kingdom<br>
            
            Telephone: 000-0000-000</li>
        </ul>
        
      </div>
      <div class="col-12 text-center copyright">&copy; 2023 All rights reserved.</div>
    </div>
  </div>
</footer>
