<section class="categories container-fluid">

  <!-- Product Categories will start from here-->
  <ul class="list-item" *ngIf="productCategories">
    <li
      *ngFor="
        let category of (productCategories | async).products | slice : 0 : 10;
        let i = index
      "
      [routerLink]="['/products', category.category]"
    >
      <div class="img-container">
        <img 
          [src]="category.thumbnail" 
          class="img-fluid" 
          [title]="category.thumbnail" 
          [alt]="category.thumbnail"/>
      </div>
      <a href="javascript:void(0)">{{ category.title }}</a>
    </li>
  </ul>
</section>
